<div class="navbar navbar-default">
    <div class="container-fluid" style="background-color: grey; max-width: 100%;">
        <div class="navbar-header">
            <a href="#" class="navbar-brand" style="color: white;">GYMZII</a>
        </div>

        <div class="navbar-collapse" style="background-color: grey;">
            <ul class="nav navbar-nav">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/courses">Courses</a></li>
                <li><a routerLink="/contacts">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">My profile <span class="caret"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>