.navbar-default {
    background-color: yellow; 
    border-color: transparent;
    font-family: 'Segoe UI', sans-serif; 
}

.navbar-brand {
    color: white !important;
    font-size: 24px; 
    font-weight: bold;
}

.nav > li > a {
    color: white !important;
    font-size: 16px; 
    padding: 15px 10px; 
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #FFC107;
    color: black !important; 
}

.dropdown-menu {
    background-color: #FFD700; 
}

.dropdown-menu > li > a:hover {
    background-color: #FFC107; 
    color: black !important;
}


.navbar-toggle {
    border-color: #FFC107;
}

.navbar-toggle .icon-bar {
    background-color: white;
}


@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #FFD700;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #FFC107;
    }
}
.logo{
    height: 50px; /* Adjust the height as needed */    
}