.bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }
  .bg-black {
    background-color: #000; /* solid black background */
    padding: 40px 0; /* more vertical padding for a spacious look */
  }
  
  .header-text {
    background-color: #FFD700; /* bright yellow background */
    color: #000; /* black text color */
    display: inline-block;
    width: 1140px;
    height: 125px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px; /* more space above the buttons */
    font-size: 3em; /* larger font size */
    font-weight: bold;
    letter-spacing: 20px;
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* subtle shadow for depth */
  }
  
  .custom-btn {
    background-color: #FFD700; /* bright yellow background */
    border: none; /* no border */
    color: #000; /* black text color */
    font-weight: bold;
    display: inline-block;
    margin: 5px 5px; /* more space above the buttons */
    font-size: 1.5em; /* larger font size */
    text-align: center;
    font-weight: bold;
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* subtle shadow for depth */
    width: 560px; /* set a fixed width for the box */
    height: 80px;
  }
  
  .custom-btn:hover,
  .custom-btn:focus {
    background-color: #FFC107; /* a lighter yellow for hover state */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* more pronounced shadow on hover for a 'lifting' effect */
    transform: translateY(-2px); /* slight raise effect on hover */
  }
  
  .selection-container {
    width: 50%; /* Adjust as needed */
}

  /* Extra styles for responsiveness and alignment */
  @media (max-width: 768px) {
    .custom-btn {
      width: 90%; /* full width on smaller screens for better tap targets */
      margin: 20px auto; /* increase margin for better spacing */
      padding: 25px 20px; /* adjust padding for smaller screens */
    }
  
    .header-text {
      font-size: 1.2em; /* adjust header text size for smaller screens */
    }
  }
  