<app-header></app-header>
<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="header-text">I WANT TO</h2>
                <div>
                  <button class="custom-btn"> TRACK MY PROGRESS </button><br>
                  <button class="custom-btn"> START A NEW WORKOUT </button><br>
                  <button class="custom-btn"> FIND EXERCICES </button><br>
                  <button class="custom-btn"> FIND COURSES </button>
                </div>
            </div>
        </div>
    </div>
</div>
