<app-header></app-header>
<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="header-text">CONTACTS</h2>
                
                <div class="flex-container">
                    <div class="contact-container">
                        <div *ngFor="let contact of contacts; let i = index" class="form-group">
                            <p class="name-text">{{ contact.name }}</p>
                            <p class="email-text">{{ contact.email }}</p>
                        </div>
                    </div>

                    <div class="comment-section">
                        <p class="name-text" style="width: calc(100% - 10px);">LEAVE A COMMENT</p>
                        <textarea style="height: 200px; width: calc(100% - 10px); margin-bottom: 5px;" placeholder="LEAVE A COMMENT"></textarea>
                        <button style="width: calc(100% - 10px); height: 60px;">Send</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
