.bg-warning {
    background-color: #f0ad4e; /* Adjust the color to match your design */
}

.btn-dark {
    background-color: #333; /* Adjust the color to match your design */
    border-color: #333; /* Adjust the color to match your design */
}

.form-control-static {
    margin-bottom: 10px; /* Provide some spacing */
    padding: 7px 0; /* Align with Bootstrap's input padding */
}
.eb{
    background-color: grey;
}
.nb{
    background-color: #f0ad4e;
}
.bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
  }
  .header-text {
    background-color: #FFD700; /* bright yellow background */
    color: #000; /* black text color */
    display: inline-block;
    padding: 40px 375px; /* larger horizontal padding */
    margin-bottom: 30px; /* more space above the buttons */
    font-size: 3em; /* larger font size */
    font-weight: bold;
    letter-spacing: 20px;
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* subtle shadow for depth */
  }
  .name-text {
    background-color: #FFD700; /* bright yellow background */
    color: #000; /* black text color */
    display: inline-block;
    padding: 12px 70px; /* larger horizontal padding */
    margin-bottom: 10px; /* more space above the buttons */
    font-size: 1.5em; /* larger font size */
    font-weight: bold;
    text-align: center;
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* subtle shadow for depth */
    width: 540px; /* set a fixed width for the box */
}
.email-text {
    background-color: #333; /* bright yellow background */
    color: #dfdfdf; /* black text color */
    display: inline-block;
    padding: 12px 60px; /* larger horizontal padding */
    margin-bottom: 5px; /* more space above the buttons */
    font-size: 1.5em; /* larger font size */
    text-align: center;
    font-weight: bold;
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* subtle shadow for depth */
    width: 540px; /* set a fixed width for the box */
}
.flex-container {
    display: flex;
}

.contact-container {
    width: 50%; /* Adjust as needed */
}

.comment-section {
    width: 50%; /* Adjust as needed */
    padding-top: 80px;
}

