.bg {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../../assets/wp5885717.jpg');
}