    <div class="row">
    <div class="col-xs-12 text-center" style="position: absolute; top: 80%; left: 20%; transform: translate(-50%, -50%);">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <button (click)="onSelectionClick('selection-core')"
                     class="btn btn-primary large-button"
                     style="background-color: yellow; color: black"
                     type="button">
                     <span>
                        I AM READY
                     </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>