.large-button {
    font-size: 2em;
    padding: 20px 40px;
    font-family: "Helvetica Neue",Helvetica,
    Arial,
    sans-serif;
    font-weight: bold;
}
.large-button span {
    font-size: 100%;
}
.large-button:hover{
    background-color: yellowgreen;
}