<app-header></app-header>
<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="header-text">MY PROFILE</h2>   
            </div>
            
            <div class="col-md-3">
                <div class="data-container">
                    <p class="data-text1">NAME</p>
                    <p class="data-text1">SURNAME</p>
                    <p class="data-text1">AGE</p>
                    <p class="data-text1">GENDER</p>
                    <p class="data-text1">HEIGHT</p>
                    <p class="data-text1">CURRENT WEIGHT</p>
                    <p class="data-text1">WEIGHT GOAL</p>
                    <button class="button">Edit</button>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="data-container">
                    <p class="data-text2">Iron</p>
                    <p class="data-text2">Vytas</p>
                    <p class="data-text2">36</p>
                    <p class="data-text2">Male</p>
                    <p class="data-text2">179</p>
                    <p class="data-text2">119</p>
                    <p class="data-text2">110</p>
                </div>
            </div>
            
            <div class="col-md-6">
                <img src="../../assets/ironvytas.png" alt="User photo" class="profile-image">
            </div>
        </div>
    </div>
</div>